{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% trans_default_domain " ~ route_name_prefix ~ " %}" }}
    
{{ "{% block body -%}" }}
    <h1>{{ '\{\{' ~ route_name_prefix ~ '.edit.title\|trans\}\}' }}</h1>

    {{ '\{\{ form(edit_form) \}\}' }}

    {% set hide_edit, hide_delete = true, false %}
{{ "{% endblock %}" }}
{% endblock body %}
