{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% trans_default_domain " ~ route_name_prefix ~ " %}" }}
    
{{ "{% block body -%}" }}
    <h1>{{ '\{\{' ~ route_name_prefix ~ '.index.title\|trans\}\}' }}</h1>

    <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th>{{ "\{\{ '" ~ route_name_prefix ~ "entity." ~ field ~ "'|trans \}\}" }}</th>

            {%- endfor %}

                <th>{{ "\{\{ 'global.actions'|trans(\{\}, 'messages') \}\}" }}</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for entity in entities %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['boolean'] %}
                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}<img src="\{\{ asset(\'\/webicons\/accept.png\') \}\}" />{% else %}<img src="\{\{ asset(\'\/webicons\/cancel.png\') \}\}" />{% endif %}' }}</td>
            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    {%- include "crud/views/others/actions.html.twig.twig" %}
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

    {% if 'new' in actions %}
    <ul class='list list-unstyled'>
        <li>
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-primary">
                {{ "\{\{ 'global.new'|trans(\{\}, 'messages') \}\}" }}
            </a>
        </li>
    </ul>
    {% endif %}
{{ "{% endblock %}" }}
{% endblock body %}
