{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
    <h1>{{ '\{\{' ~ route_name_prefix ~ '.new.title\|trans\}\}' }}</h1>

    {{ '\{\{ form(form) \}\}' }}

    {% set hide_edit, hide_delete = true, false %}
{{ "{% endblock %}" }}
{% endblock body %}